<body>
    <style>
        .navbar-custom {
          background-color:lightseagreen;
        }
    
        .navbar-custom img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
    
        .navbar-custom .navbar-brand {
          color: #fff;
          font-size: 24px;
        }
      </style>

    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#">
        <img src="https://images.pexels.com/photos/17233395/pexels-photo-17233395/free-photo-of-flores-vintage-retro-television.jpeg" alt="Logo">
        TV Series
        </a>
    </nav>

    <app-series></app-series>
</body>
